.cart-header,
.cart-data {
  border-bottom: 1px solid var(--color-shadow);
}

.cart-header h4 {
  font-size: 15px;
  color: var(--color-gray);
}

.cart-col-1 {
  width: 40%;
}

.cart-col-2 {
  width: 10%;
}

.cart-col-3 {
  width: 15%;
}

.cart-col-4 {
  width: 15%;
}

.subtotal-price {
  text-decoration: underline;
}

.backToHome {
  text-decoration: underline;
  font-size: 17px;
  color: var(--color-gray);
}

.backToHome:hover {
  color: var(--color-rust);
}
