.product-card {
  padding: 10px;
  background-color: var(--color-white);
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
}


.product-card .product-image img:last-child {
  display: none;
}

.product-card:hover .product-image img:nth-child(1) {
  display: none;

}

.product-card:hover .product-image img:last-child {
  display: block;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-image img {
  width: 100%
}

.product-details h6 {
  color: var(--color-rust);
  font-size: 13px;
}

.product-details h5 {
  color: var(--color-dark-blue);
  font-size: 15px;
  font-weight: 700;
}

.product-details p.price {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark-blue);
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: .5s ease;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}

.product-card svg {
  color: var(--color-dark-blue);
  font-size: 20px;
}


.product-card svg:hover {
  padding: 3px 3px;
  background-color: var(--color-orange);
  transition: .5s ease;
  width: 20px;
  border-radius: 50%;
}