.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-rust);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 44px;
  font-weight: 700;
  line-height: 64px;
  color: var(--color-dark-blue);
  letter-spacing: -3px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--color-dark-blue);
}

.small-banner {
  width: 49%;
}

.small-banner-content {
  top: 20%;
  left: 5%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-rust);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  color: var(--color-dark-blue);
  letter-spacing: -1px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 12px;
  font-weight: 500;
  /* line-height: 20px; */
  letter-spacing: 0.4px;
  color: var(--color-dark-blue);
  width: 60%
}

.home-wrapper-2 {
  background-color: var(--color-off-white);
}

.services * {
  color: var(--color-gray);
}

.services svg {
  font-size: 44px;
}

.categories {
  background-color: var(--color-white);
  box-shadow: 0 0 10px var(--color-shadow);
  /* box-shadow: 0 0 10px var(--color-off-white); */
  padding: 15px;
}

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories > div > div {
  width: 60%;
}

.categories img {
  width: 40%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-off-white);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-off-white);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-off-white);
}
