.header-main {
  background-color: var(--color-dark-blue);
}

.search-icon {
  background-color: var(--color-orange);
  cursor: pointer;
}

.header-links svg {
  font-size: 30px;
}

.header-logo {
  width: 150px;
}

.header-bottom {
  background-color: var(--color-midnight);
}

.menu-links a,
.dropdown button {
  color: var(--color-white);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.dropdown button:focus {
  box-shadow: none;
}

.dropdown-menu {
  background-color: var(--color-dark-blue);
  width: 100%;
  transform: translate3d(0px, 46px, 0px) !important;
}

.dropdown-item {
  padding: 9px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-midnight);
}

.dropdown-item:hover {
  background-color: transparent;
  color: var(--color-orange) !important;
}
