.app_product {
  display: flex;
  flex-direction: column;
}

.app_product-container {
  display: flex;
  flex-direction: row;
}

.product {
  background-color: var(--color-off-white)
}

.app_product-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {

  .app_product-container {
    flex-direction: column-reverse;
  }


  .app_product-container_article {
    width: 48%;
  }

  .app_product-container_article-image {
    height: 250%;
  }
}


@media screen and (max-width: 700px) {
  .app_product-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }
  .app_product-container_article {
    width: 100%;
  }
}
