.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.buy-btn {
  padding: 10px 25px;
  border-radius: 50px;
  background-color: var(--color-midnight);
  font-weight: 600px;
}
