.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.home-wrapper-2 {
  background-color: var(--color-off-white);
}

.section-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--color-midnight);
}

.brand {
  font-size: 13px;
  color: var(--color-rust);
}

.product-title {
  font-size: 15px;
  font-weight: 700;
  color: var(--color-dark-blue);
}

.price {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark-blue);
}

.discount-price {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-red);
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.buy-btn {
  padding: 10px 25px;
  border-radius: 50px;
  background-color: var(--color-midnight);
  font-weight: 600px;

}
