@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
  --font-base: 'Rubik', sans-serif;
  --color-dark-blue: #131921;
  --color-midnight: #232f3e;
  --color-gray: #3b4149;
  --color-shadow: #9191916b;
  --color-off-white: #d9d9d865;
  --color-white: #fff;
  --color-orange: #febd69;
  --color-rust: #bf4800;
  --color-red: #bf2300;
  --color-mandy: #e05656;
  --color-pink: #f3b7b9;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-base);

  /* background-color: white; */
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--color-white);
}

a:hover {
  color: var(--color-white);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-midnight);
}