@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Rubik', sans-serif;
  --color-dark-blue: #131921;
  --color-midnight: #232f3e;
  --color-gray: #3b4149;
  --color-white: #fff;
  --color-orange: #febd69;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* background-color: white; */
}

a {
  text-decoration: none;
  display: inline-block;
}